body {
  background-color: lightblue;
}

h1 {
  color: Purple;
  text-align: center;
  font-family: "Brush Script MT";
  font-size: 100px;
  
  /* Cool Neon Animation */
  text-shadow:
    0 0 4px #fff,  /* Inner white glow */
    0 0 10px #ff0080, /* Reddish outer glow */
    0 0 20px #ff0080; /* More intense reddish outer glow */
  animation: glow 1.35s ease-in-out infinite alternate;
}

/* Neon Glow Animation */
@keyframes glow {
  from { text-shadow: 0 0 4px #fff, 0 0 10px #ff0080, 0 0 20px #ff0080; }
  to   { text-shadow: 0 0 2px #fff, 0 0 5px #ff0080, 0 0 10px #ff0080; }
}

.task-list {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  /*background-color: wheat;*/
}

#table-header-done, #table-header-due, #table-header-task, #table-header-priority {
  border: 2px solid black;
  border-collapse: collapse;
  padding: auto;

/*
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  */
}

.check-box, .task-name, .due-date, .priority {
  border: 1px solid black;
  border-collapse: collapse;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.table-header, .check-box, .task-name, .due-date, .priority {
  font-size:20px;
  background-color: white;
}

.check-box, #table-header-done {
  width: 10px;
}

.due-date, #table-header-due {
  width: 100px;
}

.priority, #table-header-priority {
  width: 20px;
}

.task-name, #table-header-task {
  width: 50%;
}

/*The Add Button*/
.add-row {
  position: relative;
  left: 0.5em;
  width: 50%;
  height: 4ex;
  background-color: white;
  border: 2px solid firebrick;
  border: 10px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  display: block;
  margin: auto;
}


.add-row:hover {
  background-color: bisque;
}


.add-row:active {
  box-shadow: 2px 2px 5px #fc894d;
}


.new-task-row {
  display: none; /* will turn to flex on button click */
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
  
}