

fieldset {
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
    border-radius: 8px;
    /* width: 60%; */

    /* To align */
    justify-content: space-around;
    width: auto;

}

/* Set radio buttons */
.radio-button {
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}

/*Remove the option circle*/
.rating label {
    
    font-size: 10mm;
    margin:0;
    
}
/* Set the star */
.rating label:after {
    content: '\2605';
    font-size: 100px;
}
/* Scale form based on screen size */
@media (max-width: 1000px) {
    form {
        margin-left: 5%;
        margin-right: 5%;
    }

    legend {
        font-size: calc(0.8vw + 0.8vh);
    }

    .radio-button {
        width: calc(5vw + 6vh);
        height: calc(2vw + 2vh);
    }

    .rating {
        margin-left: 5%;
        margin-right: 5%
    }

    .rating label:after {
        font-size: calc(3vw + 3vh);
    }

    input[name=sentiment] {
        width: calc(0.8vw + 0.8vh);
        height: calc(0.8vw + 0.8vh);
    }

    .radio-button label {
        font-size: calc(0.75vw + 0.75vh);
    }
}

/* To align star with buttons*/
.rating {
    display: flex;
    justify-content: space-around;
    width: auto;
}

